body {
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
  html {
    padding: 8px;
  }
}

h1,
h2,
h3 {
  font-family: "walter turncoat", Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 25px;
  margin-bottom: 8px;
}

p {
  font-family: "ubuntu", Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 20px;
}

a {
  color: #069fce;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

/* Navigation et titre*/
.header {
  background-color: #fcc404;
  height: 230px;
  position: relative;
  z-index: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 80%;
  margin: auto;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.logo,
.titre,
.blog {
  display: inline-block;
  justify-content: center;
  margin: auto;
}

.logo {
  -webkit-transform: scale(2.3);
  -moz-transform: scale(2.3);
  -o-transform: scale(2.3);
  transform: scale(2.3);
  transition: all 0.3s;
  z-index: 2;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.navigation img {
  border-radius: 700px;
  max-width: 670px;
  max-height: 75px;
}

@media screen and (max-width: 700px) {
  .navigation {
    flex-direction: column;
    height: 50%;
    width: 80%;
  }
  .navigation img {
    max-height: 40px;
  }
  .logo,
  .titre,
  .bloc {
    display: inline;
  }
}

/*posts*/
.posts {
  max-width: 700px;
  margin: auto;
  justify-content: center;
  display: flex;
  margin-bottom: 24px;
  margin-top: 24px;
  padding: 5px;
  padding-bottom: 20px;
}

.posts h2 {
  color: #fe5d58;
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 24px;
  border-bottom: solid;
  text-align: start;
}
.posts p {
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 35px;
}
.posts-img img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 2px;
  margin-top: 35px;
  margin-bottom: 6px;
  margin-left: 35px;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .posts {
    flex-direction: column;
  }
}
/*Articles*/
hr {
  color: #000000;
  width: 500px;
  margin-top: 20px;
}
.chapeau {
  width: 670px;
  text-align: center;
  justify-content: center;
  margin: auto;
  line-height: 24px;
}
.chapeau p {
  font-size: 16px;
}

.infos {
  display: flex;
  width: 400px;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto;
  padding-bottom: 25px;
  color: #fe5d58;
  font-size: 18px;
}

.article {
  width: 670px;
  justify-content: center;
  margin: auto;
}

.article p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 20px;
}

.article img {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  display: block;
}
ul {
  font-size: 15px;
  line-height: 25px;
  margin-top: 10px;
}

/*revue de presse*/
.sous_titre {
  text-align: center;
}
.sous_titre p {
  margin-bottom: 32px;
  margin-top: 0px;
}

.sous_titre h3 {
  margin-bottom: 1px;
  margin-top: 64px;
}

.reference {
  margin-bottom: 8px;
}

.reference p {
  margin-bottom: 2px;
  font-size: 18px;
}

.info-reference p {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 14px;
}

.citation {
  margin-bottom: 32px;
  margin-top: 16px;
}
.citation p {
  width: 600px;
  margin: auto;
  font-size: 14px;
}

figcaption {
  font-size: 14px;
  color: grey;
  text-align: center;
  margin-top: 8px;
}

.guillemet {
  font-size: 45px;
  color: #989595f0;
}
/*footer*/
.footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  padding-top: 12px;
  margin-left: 0px;
  margin-right: 0px;
  position: sticky;
  background-color: #ffffff;
}

.footer a {
  margin-right: 5px;
  margin-left: 5px;
}

.footer svg:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s;
}

/*About*/
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about p {
  max-width: 800px;
}

.about > img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 50%;
}

.DreDrey {
  color: #fe5d58;
}
